# Ambientes virtuais
venv/
.env/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Sistema
*.~lock.*
