<!DOCTYPE html>
<html>
<head>
  <title>Transmissão de Tela</title>
  <style>
    body {
      margin: 0;
      background: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    img {
      width: 100%;
      height: auto;
      max-width: 100vw;
      max-height: 100vh;
    }
  </style>
</head>
<body>
  <img src="/stream" />
  <script>
window.addEventListener("load", () => {
    fetch("/register_viewer", {method: "POST"});
});

window.addEventListener("beforeunload", () => {
    navigator.sendBeacon("/unregister_viewer");
});


document.addEventListener("visibilitychange", () => {
    if (document.visibilityState === "visible") {
        fetch("/viewer_on");
    } else {
        fetch("/viewer_off");
    }
});

// Quando sair da página/fechar aba, também remove
window.addEventListener("beforeunload", () => {
    navigator.sendBeacon("/viewer_off");
});
setInterval(() => {
    if (document.visibilityState === "visible") {
        fetch("/viewer_on");
    }
}, 2000);
</script>
</body>
</html>